min-release-age=3    # パッケージ公開から指定日数以上経過した場合のみインストール
engine-strict=true   # パッケージ指定の Node.js バージョンと不一致の場合はエラー
audit=true           # パッケージのインストール時に脆弱性検証を自動実施
ignore-scripts=true  # パッケージの preinstall / install / postinstall を無効化
