# ******************************************************************************
# chezmoi 自身の設定
# ------------------------------------------------------------------------------
# 本ファイルは `chezmoi init` により "~/.config/chezmoi/chezmoi.toml" へ展開される
# 変更は ".chezmoi.toml.tmpl" に対して行い、変更後に `./import.sh` を再実行すること
# ******************************************************************************

# 管理ディレクトリを変更 (default: ~/.local/share/chezmoi/)
sourceDir = "{{ .chezmoi.homeDir }}/repos/dotfiles"

[diff]
    # chezmoi スクリプトを差分検知から除外
    exclude = ["scripts"]
